<ion-header>
  <ion-navbar>
      <ion-buttons start>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>
      {{'BOOKINGS' | translate}}
    </ion-title>
  </ion-navbar>
  <ion-grid color="primary">
    <ion-row>
      <ion-col (click)="changeSort('startdate')"><div text-center>Date
          <ion-icon *ngIf="column=='startdate'" ios="ios-arrow-drop{{arrow}}" md="md-arrow-drop{{arrow}}" float-right></ion-icon></div>
      </ion-col>
      <ion-col (click)="changeSort('cost')"><div text-center>Cost
          <ion-icon *ngIf="column=='cost'" ios="ios-arrow-drop{{arrow}}" md="md-arrow-drop{{arrow}}" float-right></ion-icon></div>
      </ion-col>
      <ion-col (click)="changeSort('duration')"><div text-center>Duration
          <ion-icon *ngIf="column=='duration'" ios="ios-arrow-drop{{arrow}}" md="md-arrow-drop{{arrow}}" float-right></ion-icon></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content  id="page1">
  <ion-list id="page-list1">
      <ion-item *ngFor="let item of items | sort : {property: column, order: order}" (click)="reviewandRate(item)" color="none" id="page-list-item" >
          <ion-thumbnail item-left>
            <img src="assets/imgs/logo_transparent.jpg"/>
          </ion-thumbnail>
          <h6>( <i>Ref id: {{ item.tripid }}</i> )</h6>
          <h2><b>
              {{item.startlocation}} - {{item.endlocation}}
              </b>
          </h2>
          <h3>
            {{ item.trucktype }}
          </h3>
          <h4>
            {{ item.startdate   | date:'dd/MM/yy'}}
        </h4>
          <h4>
              {{ item.cost }} SR
          </h4>
          <h5>
              {{ item.duration }}  hrs
          </h5>
          <h5>
            {{ item.freight }}  
        </h5>
        <h5 *ngIf="item.offerid != null" style="white-space: normal; word-wrap: break-word">
          <b  style="color: green;">Discount: {{ item.offerdiscount }} % </b> ( <i>exp dt: {{ item.oenddate | date:'dd/MM/yy' }} </i> )
      </h5>
          <button class="status_trip" ion-button outline item-end>{{item.status}}</button>              
        </ion-item>
  </ion-list>
</ion-content>
