
<ion-header>

  <ion-navbar>
    <ion-title>Offer</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-grid>

        <ion-row>
    
            <ion-col col-12 col-sm>
              <ion-item margin-top class="item-leave-height">
                <ion-label>Trip</ion-label>
                <ion-select *ngIf="!isEdit" name="trip" [(ngModel)]="selectedTripId" (ionChange)="tripSelected($event)">
                  <ion-option value="{{trip.tripid}}" *ngFor="let trip of trips">{{ trip.startlocation }} - {{ trip.endlocation}}</ion-option>
                </ion-select>
                <ion-input *ngIf="isEdit" placeholder="trip" [readonly]=true name="trip" [(ngModel)]="tripDetails"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col col-12 col-sm>
                <ion-item margin-top class="item-leave-height">
                  <ion-label>{{'TRUCKTYPE' | translate}}</ion-label>
                  <ion-input placeholder="truck" [readonly]=true name="truck" [(ngModel)]="offer.trucktype">
                  </ion-input>
                </ion-item>
              </ion-col>
            
          </ion-row>

        <!-- <ion-row>
    
          <ion-col>
            <ion-item margin-top class="item-leave-height">
              <ion-label>{{'TRUCKTYPE' | translate}}</ion-label>
              <ion-select name="trucktypes" [(ngModel)]="offer.truckid">
                <ion-option value="{{truck.trucktypeid}}" *ngFor="let truck of trucks">{{ truck.type }}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
    
        </ion-row> -->
    
        <ion-row>
    
          <ion-col col-12 col-sm>
    
            <ion-item margin-top class="item-leave-height">
              <ion-label>{{'PICKUPCITY' | translate}}</ion-label>

              <ion-input placeholder="Search location" [readonly]=true name="pickupcity" [(ngModel)]="offer.fromlocation">
              </ion-input>
            </ion-item>
    
          </ion-col>
    
          <ion-col col-12 col-sm>
    
            <ion-item margin-top class="item-leave-height">
              <ion-label>{{'DROPCITY' | translate}}</ion-label>
              <ion-input placeholder="Search location" [readonly]=true name="dropcity" [(ngModel)]="offer.tolocation">
              </ion-input>
            </ion-item>
    
          </ion-col>
    
          </ion-row>

          <ion-row>
              <ion-col col-12 col-sm>
      
                <ion-item margin-top class="item-leave-height">
                  <ion-label>{{'PRICE' | translate}}</ion-label>
                  <ion-input class="currency" [readonly]=true placeholder="price" name="price" id="price" type="number" [(ngModel)]="offer.price"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-12 col-sm>
      
                  <ion-item margin-top class="item-leave-height">
                    <ion-label>{{'DISCOUNT' | translate}}</ion-label>
                    <ion-input class="percentage" (ionFocus)="focusFunction()" placeholder="discount" name="discount" id="discount" type="number" [(ngModel)]="offer.discount"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
    
          <ion-row>
        
            <ion-col col-12 col-sm>
    
              <ion-item margin-top class="item-leave-height">
                <ion-label>{{'STARTDATE' | translate}}</ion-label>
                <ion-datetime max="{{maxdate}}" min="{{mindate}}" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="offer.startdate"></ion-datetime>
              </ion-item>
    
            </ion-col>
            <ion-col col-12 col-sm>
    
                <ion-item margin-top class="item-leave-height">
                  <ion-label>{{'ENDDATE' | translate}}</ion-label>
                  <ion-datetime max="{{maxdate}}" min="{{mindate}}" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="offer.enddate"></ion-datetime>
                </ion-item>
      
              </ion-col>

          </ion-row>
          
          <ion-row padding-top>

            <ion-col col-12 col-sm>
                <ion-item margin-top class="item-leave-height">
                  <ion-label>Description</ion-label>
                  <ion-input class="message" (ionFocus)="focusFunction()" placeholder="description" name="message" id="message" type="text" [(ngModel)]="offer.message"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col  col-12 col-sm text-center>
                  <button *ngIf="!isEdit" (click)="addorUpdateOffer()" ion-button medium>{{ 'ADDOFFER' | translate }}</button>
                  <button *ngIf="isEdit" (click)="addorUpdateOffer()" ion-button medium>Update Offer</button>
                </ion-col>

          </ion-row>
      </ion-grid>
</ion-content>
