<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
          </ion-buttons>
      <ion-title>
        {{'TRIPSLISTTITLE' | translate}}
      </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content  id="page1">

      <ion-list id="page-list1">
        <ion-item id="page-list-item10" (click)="showTripDetails(item)" *ngFor="let item of items">
          <ion-thumbnail item-left>
            <img src="assets/imgs/logo_transparent.jpg"/>
            <!-- <div class="icon-road" style="font-size: 3em; color: green;" src1="assets/imgs/logo_transparent.jpg"></div> -->
          </ion-thumbnail>
          <h6>( <i>Ref id: {{ item.tripid }}</i> )</h6>
          <h2><b>
              {{item.startlocation}} - {{item.endlocation}}
              </b>
          </h2>
          <h3>
            {{ item.trucktype }}
          </h3>
          <h4>
              {{ item.startdate  | date:'dd/MM/yy' }}
          </h4>
          <h5>
              {{ item.freight }}  
          </h5>
          <h5 *ngIf="item?.offerdiscount">
            Discount: {{ item?.offerdiscount }} %
          </h5>
          <button class="status_trip" ion-button outline item-end>{{item.status}}</button>
        </ion-item>
      </ion-list>
    </ion-content>
  