
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'QUOTATIONS' | translate}}</ion-title>
  </ion-navbar>
  <ion-grid color="primary">
    <ion-row>
      <ion-col (click)="changeSort('cost')">
        <div text-center>Cost
          <ion-icon *ngIf="column=='cost'" ios="ios-arrow-drop{{arrow}}" md="md-arrow-drop{{arrow}}" float-right></ion-icon></div>
      </ion-col>
      <ion-col (click)="changeSort('duration')">
        <div text-center>Duration
          <ion-icon *ngIf="column=='duration'" ios="ios-arrow-drop{{arrow}}" md="md-arrow-drop{{arrow}}" float-right></ion-icon></div>
      </ion-col>
      <ion-col (click)="changeSort('discount')"> <div text-center>Discount
          <ion-icon *ngIf="column=='discount'" ios="ios-arrow-drop{{arrow}}" md="md-arrow-drop{{arrow}}" float-right></ion-icon></div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-header>


<ion-content  id="pageQuotations">
    <ion-list id="pageQuotations-list">
      <ion-item (click)="navigateToQuotationDetails(quotation)" id="page-list-item10" *ngFor="let quotation of quotations | sort : {property: column, order: order}">
        <ion-thumbnail item-left>
          <img src="assets/imgs/logo_transparent.jpg"/>
        </ion-thumbnail>
        <h6>( <i>Ref id: {{ quotation.quotationid }}</i> )</h6>
        <h2><b>
            {{ quotation.cost }} SR
            </b>
        </h2>
        <h2><b>
          {{ quotation.ownername }}
          </b>
      </h2>
        <h3>
          {{ quotation.trucktype }}
        </h3>
        <h4>
            {{ quotation.starttime }}
        </h4>
        <h5>
            {{ quotation.duration }} hrs
        </h5>
        <h5 *ngIf="(trip.offerid != null) && (trip.offerid != '')" style="white-space: normal; word-wrap: break-word">
          <b  style="color: green;">Discount: {{ trip.offerdiscount }} % </b> ( <i>exp dt: {{ trip.oenddate | date:'dd/MM/yy' }} </i> )
      </h5>
        <button *ngIf="quotation.status!=''" class="status_trip" ion-button outline item-end>{{quotation.status}}</button>
      </ion-item>
    </ion-list>
  </ion-content>
