<ion-header>

  <ion-navbar>
    <ion-title>Trip Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card>
    <ion-card-header>
      {{'TRIPDETAILS'|translate}} ( {{ trip.status }} )
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>
        {{trip?.startlocation}} - {{trip?.endlocation}} (
        <i>Ref id- {{ trip?.tripid }}</i> )
      </ion-card-title>
      <h4>
        {{ trip?.startdate | date : 'dd MMM yyyy' }}
      </h4>
      <h5>
        {{ trip?.freight }}
      </h5>
      <h3 style="white-space:normal;word-wrap: break-word;">{{ trip?.customerremarks }}</h3>
      <rating *ngIf="trip" [(ngModel)]="trip.rating" readOnly="true" [max]="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
        starIconName="star" nullable="false">
      </rating>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      {{'QUOTATIONDETAILS'|translate}}
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>
        {{ trip?.trucktype }}
      </ion-card-title>
      <h4>
        {{ trip?.startdate | date : 'dd MMM yyyy' }}
      </h4>
      <h5>
        {{ trip?.duration }} hrs
      </h5>
      <h5>
        <b>
          {{ trip?.cost }} SR
        </b>
      </h5>
      <h5>
        VAT: {{ trip?.vat }} %
      </h5>
      <h5>
          Additional charges: {{ quotation?.additionalcharges }}
        </h5>
      <h3 *ngIf="trip && quotation">
        Total amount
        <b> {{ getTotalAmount(trip, quotation, null) }} </b>SR
      </h3>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      {{'OWNERDETAILS'|translate}}
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>
        {{owner?.name}} (
        <i>Ref id- {{ owner?.userid }}</i> )
      </ion-card-title>
      <h3>
        {{ owner?.email }}
      </h3>
      <h4>
        {{ owner?.phonenumber }}
      </h4>
    </ion-card-content>
  </ion-card>

<ion-card>
    <ion-card-header>
        Customer Details
      </ion-card-header>
<ion-card-content>
    <ion-card-title>
        {{customer?.name}} (
        <i>Ref id- {{ customer?.userid }}</i> )
      </ion-card-title>
    <h3>
      {{ customer?.email }}
    </h3>
    <h4>
        {{ customer?.phonenumber }}
      </h4>
    <h5>
        DOJ: {{ customer?.timestamp | date : 'dd MMM yyyy' }}
    </h5>
</ion-card-content>
</ion-card>

  <ion-card>
    <ion-card-header>
      {{'DRIVERDETAILS'|translate}}
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>
        {{driver?.name}} (
        <i>Ref id- {{ driver?.userid }}</i>)
      </ion-card-title>
      <h3>
        {{ driver?.email }}
      </h3>
      <h4>
        {{ driver?.phonenumber }}
      </h4>
    </ion-card-content>
  </ion-card>
</ion-content>