<ion-header>
    <ion-navbar>
        <ion-title>
            {{"RENTATRUCK" | translate}}
        </ion-title>
        <ion-buttons end>
            <button #popoverbutton ion-button (click)="presentPopover($event)">
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-navbar color="light">
        <!-- <img src="assets/imgs/logo.png" height="44px" /> -->
        <img src="assets/imgs/bar_truck_logo.png" height="44px" />
        <ion-buttons end style="max-width: 50%;" margin-right>
            <a ion-button text-wrap [href]="'mailto:'+'support@zamilrenttruck.com'">
                <u>Contact: support@zamilrenttruck.com</u>
            </a>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div padding class="truckbg" [ngClass]="bgclass">
        <ion-row>
            <ion-col padding-top text-center>
                <h1>
                    <b> {{ 'HOMEHEADER' | translate }} </b>
                </h1>
                <h3 padding-top> {{ 'BOOKTRIPHEADERTEXT' | translate }} </h3>
            </ion-col>
        </ion-row>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item item-start margin-top class="item-leave-height">
                        <ion-label>{{'TRUCKTYPE' | translate}}</ion-label>
                        <ion-select name="trucktypes" [(ngModel)]="truckid">
                            <ion-option value="{{truck.trucktypeid}}" *ngFor="let truck of trucks">{{ truck.type }}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 col-sm>
                    <ion-item item-start margin-top class="item-leave-height">
                        <ion-label stacked>{{'PICKUPCITY' | translate}}</ion-label>
                        <ion-input placeholder="{{'SEARCHPICKUPLOCATION'|translate}}" [readonly]=true (ionFocus)="presentPredefinedPlaces($event, 'pickup')" name="pickupcity" [(ngModel)]="pickupcity">
                        </ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-12 col-sm>

                    <ion-item item-start margin-top class="item-leave-height">
                        <ion-label stacked>{{'DROPCITY' | translate}}</ion-label>
                        <ion-input placeholder="{{'SEARCHDROPLOCATION'|translate}}" [readonly]=true (ionFocus)="presentPredefinedPlaces($event, 'drop')" name="dropcity" [(ngModel)]="dropcity">
                        </ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 col-sm>
                    <ion-item item-start margin-top class="item-leave-height">
                        <ion-label stacked>{{'STARTDATE' | translate}}</ion-label>
                        <ion-datetime placeholder="{{'STARTDATE' | translate}}" [max]="maxdate" [min]="mindate" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="startdate"></ion-datetime>
                    </ion-item>
                </ion-col>
                <ion-col col-12 col-sm>
                    <ion-item item-start margin-top class="item-leave-height" style="height: 82%;">
                        <ion-label stacked>{{'MATERIAL' | translate}}</ion-label>
                        <ion-input (ionFocus)="focusFunction()" placeholder="{{'MATERIAL' | translate}}" name="material" id="material" type="text" [(ngModel)]="frieght"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row padding-top>
                <ion-col text-center>
                    <button (click)="requestQuote()" ion-button medium>{{ 'SUBMIT' | translate }}</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <ion-row *ngIf="!hideSlide">
        <ion-slides effect="slide" autoplay="3000" loop='true' pager="true" #slider>
            <ion-slide *ngFor="let offer of offers">
                <h3>{{offer.message}}</h3>
                <h4>Trip: {{offer.fromlocation}} - {{offer.tolocation}}</h4>
                <h5>Discount : {{offer.discount}} %</h5>
                <h6>Validity : {{offer.startdate}} - {{offer.enddate}}</h6>
            </ion-slide>
        </ion-slides>
    </ion-row>
    <!-- Segment in content -->
    <about-us-english *ngIf="translate.currentLang=='en'"></about-us-english>
    <about-us-arabic *ngIf="translate.currentLang=='ar-sa'"></about-us-arabic>
</ion-content>