<ion-header>

  <ion-navbar>
    <ion-title>{{'CREATETRIP' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-grid>

    <ion-row>

      <ion-col>
        <ion-item margin-top class="item-leave-height">
          <ion-label>{{'TRUCKTYPE' | translate}}</ion-label>
          <ion-select name="trucktypes" [(ngModel)]="truckid">
            <ion-option value="{{truck.trucktypeid}}" *ngFor="let truck of trucks">{{ truck.type }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col col-12 col-sm>

        <ion-item margin-top class="item-leave-height">
          <ion-label>{{'PICKUPCITY' | translate}}</ion-label>
          <!-- <ion-select name="pickupcity" [(ngModel)]="pickupcity">
            <ion-option value="{{city}}" *ngFor="let city of cities">{{ city }}</ion-option>
          </ion-select> -->
          <ion-input placeholder="Search location" [readonly]=true (focus)="presentPredefinedPlaces($event, 'pickup')" name="pickupcity" [(ngModel)]="pickupcity">
          </ion-input>
        </ion-item>

      </ion-col>

      <ion-col col-12 col-sm>

        <ion-item margin-top class="item-leave-height">
          <ion-label>{{'DROPCITY' | translate}}</ion-label>
          <!-- <ion-select name="dropcity" [(ngModel)]="dropcity">
            <ion-option value="{{city}}" *ngFor="let city of cities">{{ city }}</ion-option>
          </ion-select> -->
          <ion-input placeholder="Search location" [readonly]=true (focus)="presentPredefinedPlaces($event, 'drop')" name="dropcity" [(ngModel)]="dropcity">
          </ion-input>
        </ion-item>

      </ion-col>

    </ion-row>

    <!-- <ion-row>
      <ion-col col-12 col-sm>

        <ion-item margin-top class="item-leave-height">
          <ion-label>{{'MATERIAL' | translate}}</ion-label>
          <ion-input (ionFocus)="focusFunction()" placeholder="freight" name="material" id="material" type="text" [(ngModel)]="frieght"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-12 col-sm>

        <ion-item margin-top class="item-leave-height">
          <ion-label>{{'STARTDATE' | translate}}</ion-label>
          <ion-datetime max="{{maxdate}}" min="{{mindate}}" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="startdate"></ion-datetime>
        </ion-item>

      </ion-col>
    </ion-row> -->

    <ion-row>
        <ion-col  col-12 col-sm>
            <ion-item margin-top class="item-leave-height">
              <ion-label>{{'COST' | translate}}</ion-label>
              <ion-input class="currency" (ionFocus)="focusFunction()" placeholder="cost" name="cost" id="cost" type="text" [(ngModel)]="cost"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col  col-12 col-sm>
              <ion-item margin-top class="item-leave-height">
                <ion-label>{{'DURATION' | translate}}</ion-label>
                <ion-input class="hours" (ionFocus)="focusFunction()" placeholder="duration in hours" name="duration" id="duration" type="number" [(ngModel)]="duration"></ion-input>
              </ion-item>
            </ion-col>
    </ion-row>

    <ion-row padding-top>
      <ion-col text-center>
        <button (click)="createTrip()" ion-button medium>{{ 'CREATETRIP' | translate }}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>