<ion-split-pane>
    <ion-menu side="start" [content]="content">
        <ion-header>
            <ion-toolbar>
                <ion-title>{{'CUSTOMER' | translate}}</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
                <ion-card class="profile-card">
                        <ion-row float-right>
                                <button (click)="editClicked()" *ngIf="!isEdit" ion-button small icon-end>
                                    Edit
                                </button>
                                <button (click)="saveClicked()" *ngIf="isEdit" ion-button small icon-end>
                                    Save
                                </button>
                        </ion-row>
                        <ion-item>
                            <ion-row>
                                <img *ngIf="!isEdit" [src]="profileImgPath" class="custom-avatar" />
                                <ion-col *ngIf="isEdit" align="center" style="max-width: 150px; margin: auto;">
                                    <img [src]="profileImage" class="avatar"  />
                                    <button *ngIf="!isWeb" ion-button color="normal" (tap)="addImage()">
                                        Add Image
                                    </button>
                                    <div *ngIf="isWeb" class="fileUpload btn btn-primary">
                                        <span>Add Image</span>
                                        <input type="file" class="upload" (change)="fileUpload($event)" #fileInp/>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-item>
                        <ion-card-content *ngIf="!isEdit">
                            <h2>Name:
                                <b>{{user.name}}</b>
                            </h2>
                            <h2>Ref Id:
                                <i>{{user.userid}}</i>
                            </h2>
                            <h3>Phone No:
                                <b>{{user.phonenumber}}</b>
                            </h3>
                            <h3>Email:
                                <b>{{user.email}}</b>
                            </h3>
                        </ion-card-content>
                        <ion-card-content style="padding:0px;" *ngIf="isEdit">
                            <ion-row>
                                <ion-col col-5>
                                    <ion-item>
                                        <ion-label floating>Country Code</ion-label>
                                        <ion-input type="tel" value="+966" readonly> </ion-input>
                                    </ion-item>
                                </ion-col>
                                <ion-col col-7>
                                    <ion-item>
                                        <ion-label floating>{{'PHONENUMBER' | translate}}</ion-label>
                                        <ion-input (ionFocus)="focusFunction()" name="phonenumber" id="phonenumber" type="tel" [(ngModel)]="phonenumber"> </ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                        </ion-card-content>
                    </ion-card>
            <ion-list>
                <ion-item detail-push (click)="go_to_TripsListPage()" [class.activeHighlight]="checkActivated(1)"
                 menuClose>
                    {{'TRIPS' | translate}}
                </ion-item>
                <ion-item detail-push (click)="go_to_OngoingTripsListPage()" [class.activeHighlight]="checkActivated(2)"
                 menuClose>
                    Requested Trips
                </ion-item>
                <ion-item detail-push (click)="go_to_BookingsListPage()" [class.activeHighlight]="checkActivated(3)" menuClose>
                    {{'BOOKINGSHISTORY' | translate}}
                </ion-item>
                <ion-item (click)="logout_go_to_App()" [class.activeHighlight]="checkActivated(4)" menuClose>
                    {{'LOGOUT' | translate}}
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>

    <ion-nav [root]="rootPage" #content main swipeBackEnabled="false"></ion-nav>
</ion-split-pane>