// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// @import "../theme/icons";

[dir="rtl"] ion-label[floating] ~ ion-input input{
    direction: rtl;
    }

    ul {
        padding: 0px;
      
        &.rating li {
          padding: 5px 10px !important;
          background: none;
          color: greenyellow;
      
          ion-icon {
            font-size: 30px;
          }
        }
      }

  ion-card.profile-card img {
    display: block;
    width: 40%;
    height: 40%;
    margin: auto;
    border-radius: 50%;
    max-width: 280px;
    background-color: green;
    background-image: url('../assets/imgs/icon_144.png');
    min-width: 150px;
    min-height: 150px;
  }

  ion-item ion-thumbnail img {
    background-image: url('../assets/imgs/icon_48.png');
  }

  .activeHighlight, .card-header {
    background-color: #f4f4f4;
  }

 .item-input ion-input[type=number].currency::after{
    content: 'SR';
    margin-left: -50px;
    color: #888;
    font-weight: bold;
}
.item-input ion-input[type=number].hours::after{
    content: 'hrs';
    margin-left: -50px;
    color: #888; 
    font-weight: bold;   
}
.item-input ion-input[type=number].percentage::after{
  content: '%';
  margin-left: -50px;
  color: #888; 
  font-weight: bold;   
}

.editable .label {
  color: #2f9610;
  font-weight: bold;
}
.editable {
  border-bottom-width: 1px;
  border-bottom-color: #2f9610;
  border-style: solid;
}

.error {
  color: red;
}

ion-icon {
  font-size: 2em;
}

.status_trip {
  position: absolute;
  right: 8px;
}
[dir="rtl"] .status_trip {
  left: 8px;
}

div.hint_more_options {
  text-align: right;
}
div.hint_more_options>ion-icon{
  font-size: 0.7em;
  color: #555;
}

ion-item h2, .alert-radio-label, ion-card-title {
  white-space: normal !important; 
  word-wrap: break-word;
}
ion-item i {
  color: #555;
}

 .fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
 .fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
} 

 .cordova-camera-select {
  visibility: hidden;
}