<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
          </ion-buttons>
      <ion-title>
        {{'CUSTOMERSLISTTITLE' | translate}}
      </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content id="page1">
    <ion-row style="height: 35px;">
      <ion-item icon-end> 
        <div float-end (click)="sortData()">Sort by Date: 
          <ion-icon *ngIf="sortIsAscending" float-end name="arrow-round-up"></ion-icon>
          <ion-icon *ngIf="!sortIsAscending" float-end name="arrow-round-down"></ion-icon>
        </div>
      </ion-item>
    </ion-row>
    <ion-list id="page-list1">
        <ion-item-group *ngFor="let group of userGroups;  let gindex = index" >
            <ion-item-divider color="light" text-capitalize>{{group.group}}</ion-item-divider> 
            <ion-item-sliding *ngFor="let customer of group.list; let iindex = index">       
            <ion-item color="none" id="page-list-item10" (click)="showTripsForUser(customer)">
              <ion-thumbnail item-left>
                <img src="assets/imgs/logo_transparent.jpg" />
                <!-- <div class="icon-user" style="font-size: 3em; color: green;" src1="assets/imgs/logo_transparent.jpg"></div> -->

              </ion-thumbnail>
              <h2><b>
                  {{customer.name}}
                  </b>
              </h2>
              <h3>
                {{ customer.email }}
              </h3>
              <h4>
                  {{ customer.phonenumber }}
                </h4>
              <h5>
                  DOJ: {{ customer.timestamp | date : 'dd MMM yyyy' }}
              </h5>
              <div class="hint_more_options">
                <ion-icon icon-start name="arrow-round-back">Swipe left to see more options</ion-icon>
              </div>
            </ion-item>
            <ion-item-options side="end">
                <button ion-button color="danger" (click)="deleteItem(customer, gindex, iindex)">
                  <ion-icon name="delete"></ion-icon>
                  Delete
                </button>
                <button *ngIf="group.group != 'approved'" ion-button color="primary" (click)="approveItem(customer, gindex, iindex)">
                    <ion-icon name="approve"></ion-icon>
                    Approve
                </button>
                <button *ngIf="group.group != 'blocked'" ion-button color="secondary" (click)="blockItem(customer, gindex, iindex)">
                      <ion-icon name="block"></ion-icon>
                      Block
                </button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-item-group>
    </ion-list>
  </ion-content>
  