<ion-header>
  <ion-navbar>
      <ion-buttons start>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>
      {{'TRIPS' | translate}}
    </ion-title>
    <ion-buttons end>
        <button ion-button (click)="createTrip()">
          <ion-icon name="add" ></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content  id="page">

    <ion-segment [(ngModel)]="segment" color="primary" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="availabletrips">
            {{ 'AVAILABLETRIPS' | translate }}
        </ion-segment-button>
        <ion-segment-button value="customtrips">
            {{ 'CUSTOMTRIPS' | translate }}
        </ion-segment-button>
    </ion-segment>

    <!-- <ion-list id="page-list">
      <ion-item (click)="giveQuotationsForTrip(item)" color="none" id="page-list-item10" *ngFor="let item of items">
        <ion-thumbnail item-left>
          <img src="assets/imgs/logo_transparent.jpg"/>
        </ion-thumbnail>
        <h2><b>
            {{item.startlocation}} - {{item.endlocation}}
            </b>
        </h2>
        <h3>
          {{ item.trucktype }}
        </h3>
        <h4>
            {{ item.startdate }}
        </h4>
        <h5>
            {{ item.freight }}  
        </h5>
        <button ion-button outline item-end>{{item.status}}</button>              
      </ion-item>
    </ion-list> -->


    <div [ngSwitch]="segment">
        <div padding-top *ngSwitchCase="'availabletrips'">
            <ion-searchbar [(ngModel)]="search.query" [showCancelButton]="true" (ionInput)="updateSearch()" (ionCancel)="dismiss()"
            placeholder="Start searching based on location">
          </ion-searchbar>
            <ion-list id="page-list1">
                <ion-item-sliding *ngFor="let item of searchItems">                 
                <ion-item (click)="editTrip(item)" color="none" id="page-list-item" >
                  <ion-thumbnail item-left>
                    <img src="assets/imgs/logo_transparent.jpg"/>
                  </ion-thumbnail>
                  <h2><b>
                      {{item.startlocation}} - {{item.endlocation}}
                      </b>
                  </h2>
                  <h3>
                    {{ item.trucktype }}
                  </h3>
                  <h4>
                      {{ item.cost }} SR
                  </h4>
                  <h5>
                      {{ item.duration }}  hrs
                  </h5>
                </ion-item>
                <ion-item-options side="end">
                    <button ion-button color="danger" (click)="deleteTrip(trip, gindex, iindex)">
                      <ion-icon name="delete"></ion-icon>
                      Delete
                    </button>
                  </ion-item-options>
                </ion-item-sliding>
              </ion-list>
        </div>
    </div>

    <div [ngSwitch]="segment">
        <div padding-top *ngSwitchCase="'customtrips'">
            <ion-list id="page-list2">
                <ion-item-sliding *ngFor="let item of items">                 
                <ion-item (click)="giveQuotationsForTrip(item)" color="none" id="page-list-item" >
                  <ion-thumbnail item-left>
                    <img src="assets/imgs/logo_transparent.jpg"/>
                  </ion-thumbnail>
                  <h2><b>
                      {{item.startlocation}} - {{item.endlocation}}
                      </b>
                  </h2>
                  <h3>
                    {{ item.trucktype }}
                  </h3>
                  <h4>
                      {{ item.startdate }}
                  </h4>
                  <h5>
                      {{ item.freight }}  
                  </h5>
                </ion-item>
                <!-- <ion-item-options side="end">
                    <button ion-button color="danger" (click)="cancelCustomTrip(item)">
                      <ion-icon name="delete"></ion-icon>
                      Cancel
                    </button>
                  </ion-item-options> -->
                </ion-item-sliding>
              </ion-list>
        </div>
    </div>
    
  </ion-content>
  