<ion-header>
  <ion-navbar>
      <ion-buttons start>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>
      {{'TRIPS' | translate}}
    </ion-title>
    <ion-buttons end>
        <button ion-button (click)="createTrip()">
          <ion-icon name="add" ></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content  id="page">

          <ion-row>
            <ion-col>
                <ion-label>{{"FILTERBY"|translate}}: 
                    <button ion-button color="light" small icon-end (click)="clearFilters()">{{'CLEAR'|translate}}
                        <ion-icon name="close"></ion-icon>
                      </button>
                </ion-label> 
                <ion-item margin-top class="item-leave-height">

                  <ion-select (ionChange)="filterSelected(1)" name="pickupcities" placeholder="{{'PICKUPFILTER'|translate}}" [(ngModel)]="pickupcity">
                    <ion-option value="{{city}}" *ngFor="let city of pickupcities">{{ city }}</ion-option>
                  </ion-select>
                
                  <ion-select (ionChange)="filterSelected(2)" name="dropcities" placeholder="{{'DROPFILTER'|translate}}" [(ngModel)]="dropcity">
                    <ion-option value="{{city}}" *ngFor="let city of dropcities">{{ city }}</ion-option>
                  </ion-select>
                
                  <ion-select (ionChange)="filterSelected(3)" name="trucks" placeholder="{{'TRUCKTYPEFILTER'|translate}}" [(ngModel)]="truck">
                    <ion-option value="{{truck}}" *ngFor="let truck of trucks">{{ truck }}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-list id="page-list1">
                <ion-item-sliding *ngFor="let item of searchItems">                 
                <ion-item (click)="editTrip(item)" color="none" id="page-list-item" >
                  <ion-thumbnail item-left>
                    <img src="assets/imgs/logo_transparent.jpg"/>
                    <!-- <div class="icon-road" style="font-size: 3em; color: green;" src1="assets/imgs/logo_transparent.jpg"></div> -->
                  </ion-thumbnail>
                  <h6>( <i>Ref id: {{ item.tripid }}</i> )</h6>
                  <h2><b>
                      {{item.startlocation}} - {{item.endlocation}}
                      </b>
                  </h2>
                  <h3>
                    {{ item.trucktype }}
                  </h3>
                  <h4>
                      {{ item.cost }} SR
                  </h4>
                  <h5>
                      {{ item.duration }} hrs
                  </h5>
                  <h5 *ngIf="item.offerid != null">
                      <b  style="color: green;">Discount: {{ item.offerdiscount }} % </b> ( <i>exp dt: {{ item.oenddate | date:'dd/MM/yy' }} </i> )
                  </h5>
                  <!-- <button class="status_trip" ion-button outline item-end>{{item.status}}</button>               -->

                  <div class="hint_more_options">
                    <ion-icon icon-start name="arrow-round-back">{{"SWIPELEFTTEXT" | translate}}</ion-icon>
                  </div>
                </ion-item>
                <ion-item-options side="end">
                    <button ion-button color="danger" (click)="deleteAvailableTrip(item)">
                      <ion-icon name="delete"></ion-icon>
                      {{"OPTIONDELETE"| translate}}
                    </button>
                  </ion-item-options>
                </ion-item-sliding>
              </ion-list>
   
  </ion-content>
  