<ion-header>
  <ion-navbar>
    <ion-title>{{ 'RESETPWD' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeView()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="resetPWDForm" (ngSubmit)="onReset(resetPWDForm.value)" name="resetPWDForm">

    <ion-list>

      <ion-item item-start>
        <ion-label floating>{{ 'EMAILID' | translate }}</ion-label>
        <ion-input (ionFocus)="focusFunction()" name="email" id="email" type="email" ngModel1 formControlName="username"></ion-input>
      </ion-item>

      <ion-item item-start>
        <ion-label floating>{{ 'CURRENTPWD' | translate }}</ion-label>
        <ion-input (ionFocus)="focusFunction()" name="currentpassword" id="currentpassword" type="password" ngModel1 formControlName="currentpassword"></ion-input>
      </ion-item>

      <ion-item item-start>
        <ion-label floating>{{ 'NEWPWD' | translate }}</ion-label>
        <ion-input (ionFocus)="focusFunction()" name="newpassword" id="newpassword" type="password" ngModel1 formControlName="newpassword"></ion-input>
      </ion-item>

      <ion-item item-start>
        <ion-label floating>{{ 'CONFIRMPWD' | translate }}</ion-label>
        <ion-input (ionFocus)="focusFunction()" name="confirmpassword" id="confirmpassword" type="password" ngModel1 formControlName="confirmpassword"></ion-input>
      </ion-item>

    </ion-list>
    <p class="alert alert-danger error" *ngIf="resetPWDForm.errors?.error=='PME' && resetPWDForm.controls.confirmpassword.dirty">{{ 'PWDMISMATCH' | translate}}</p>
    <!-- <p *ngIf="resetPWDForm.controls.username.errors?.pattern" class="error">{{'USERNAMEINVALID' | translate}}</p> -->
    <!-- <p padding *ngIf="resetPWDForm.controls.password.errors" class="error">Password cannot be blank.</p>             -->
    <p class="error">{{serverError}}</p>
    <div padding>
      <button block ion-button type="submit" [disabled]="!resetPWDForm.valid">{{'RESETPWD' | translate}}</button>
    </div>
  </form>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <p style="color: #fff">© {{'COPYRIGHT' | translate}}
      <p>
  </ion-toolbar>
</ion-footer>