<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"> </ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{'OFFERS' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list id="page-list1">
    <ion-item-group *ngFor="let group of offerGroups;  let gindex = index">
      <ion-item-divider color="light" text-capitalize>{{group.group}}</ion-item-divider>
      <ion-item-sliding *ngFor="let item of group.list; let iindex = index">
        <ion-item color="none" id="page-list-item10">
          <ion-thumbnail item-left>
            <img src="assets/imgs/logo_transparent.jpg" />
          </ion-thumbnail>
          <h6>( <i>Ref id: {{ item.offerid }}</i> )</h6>
          <h2>
            {{item.fromlocation}} - {{item.tolocation}}
          </h2>
          <h3>
            {{item.message}}
          </h3>
          <h3>
            Discount {{item.discount}} on truck type {{item.trucktype}}
          </h3>
          <h3>
            {{item.startdate}} - {{item.enddate}}
          </h3>
          <h4>
            Trip Ref - {{item.tripid}}
          </h4>
          <h4>
           Owner: {{item.ownername}} (Ref- {{ item.userid }})
          </h4>
          <div class="hint_more_options">
            <ion-icon icon-start name="arrow-round-back">{{"SWIPELEFTTEXT" | translate}}</ion-icon>
          </div>
        </ion-item>
        <ion-item-options side="end">
          <button ion-button color="danger" (click)="deleteItem(item, gindex, iindex)">
            <ion-icon name="delete"></ion-icon>
            {{"OPTIONDELETE"| translate}}
          </button>
          <button *ngIf="group.group != 'approved'" ion-button color="primary" (click)="approveItem(item, gindex, iindex)">
            <ion-icon name="approve"></ion-icon>
            {{"OPTIONAPPROVE"| translate}}
          </button>
          <button *ngIf="group.group != 'blocked'" ion-button color="secondary" (click)="rejectItem(item, gindex, iindex)">
            <ion-icon name="block"></ion-icon>
            {{"OPTIONREJECT" | translate}}
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
</ion-content>