<ion-header>

  <ion-navbar>
    <ion-title>Rate your Trip</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card>
    <ion-card-header>
      {{'TRIPDETAILS'|translate}}
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>
        {{trip?.startlocation}} - {{trip?.endlocation}} (
        <i>Ref id- {{ trip?.tripid }}</i> )
      </ion-card-title>
      <h4>
        {{ trip?.startdate }}
      </h4>
      <h5>
        {{ trip?.freight }}
      </h5>
      <ion-textarea placeholder="Enter Remarks or Comments" [(ngModel)]="trip.customerremarks"></ion-textarea>
      <rating [(ngModel)]="trip.rating" readOnly="false" [max]="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
        starIconName="star" nullable="false">
      </rating>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      {{'QUOTATIONDETAILS'|translate}}
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>
        {{ quotation?.trucktype }}
      </ion-card-title> 
      <h4>
        {{ quotation?.starttime }}
      </h4>
      <h5>
        {{ quotation?.duration }} hrs
      </h5>
      <h5>
        <b>
          {{ quotation?.cost }} SR
        </b>
      </h5>
      <h5 *ngIf="trip?.offerdiscount">
        Discount: {{ trip?.offerdiscount }} %
      </h5>
      <h5>
        Additional charges: {{ quotation?.additionalcharges }}
      </h5>
      <h5>
        VAT: {{ trip?.vat }} %
      </h5>
      <h3 *ngIf="quotation && trip">
        Total amount
        <b> {{ getTotalAmount(trip, quotation, null) }} </b>SR
      </h3>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      {{'OWNERDETAILS'|translate}}
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>
        {{owner?.name}} (
        <i>Ref id- {{ owner?.userid }}</i> )
      </ion-card-title>
      <h3>
        {{ owner?.email }}
      </h3>
      <h4>
        {{ owner?.phonenumber }}
      </h4>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      {{'DRIVERDETAILS'|translate}}
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>
        {{driver?.name}} (
        <i>Ref id- {{ driver?.userid }}</i>)
      </ion-card-title>
      <h3>
        {{ driver?.email }}
      </h3>
      <h4>
        {{ driver?.phonenumber }}
      </h4>
    </ion-card-content>
  </ion-card>
  <ion-row padding-top>
    <ion-col text-center>
      <button (click)="rateTheTrip()" ion-button medium>Submit Rating</button>
    </ion-col>
  </ion-row>
</ion-content>