<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{'CREATEUSER' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="registrationForm" (ngSubmit)="onRegistration(registrationForm.value)" name="registrationForm">

    <ion-list>
      <ion-row>
        <ion-col align="center" style="max-width: 150px; margin: auto;">
          <img [src]="profileImage" class="avatar" />
          <button *ngIf="!isWeb" ion-button color="normal" (tap)="addImage()">
            Add Image
          </button>
          <div *ngIf="isWeb" class="fileUpload btn btn-primary">
            <span>Add Image</span>
            <input type="file" class="upload" (change)="fileUpload($event)" #fileInp/>
          </div>
        </ion-col>
      </ion-row>

      <ion-item>
        <ion-label floating>{{'USERNAME' | translate}}</ion-label>
        <ion-input (ionFocus)="focusFunction()" name="name" id="name" type="text" ngModel1 formControlName="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{'PASSWORD' | translate}}</ion-label>
        <ion-input (ionFocus)="focusFunction()" name="password" id="password" type="password" ngModel1 formControlName="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{'EMAILID' | translate}}</ion-label>
        <ion-input (ionFocus)="focusFunction()" name="email" id="email" type="email" ngModel1 formControlName="email"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label floating>Country Code</ion-label>
            <ion-input type="tel" value="+966" readonly> </ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label floating>{{'PHONENUMBER' | translate}}</ion-label>
            <ion-input (ionFocus)="focusFunction()" name="phonenumber" id="phonenumber" type="tel" formControlName="phonenumber"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item padding-top class="item-leave-height">
        <ion-label>{{'ROLE' | translate}}</ion-label>
        <ion-select name="role" formControlName="role">
          <ion-option value="admin">{{'ADMIN' | translate}}</ion-option>
          <ion-option value="owner">{{'TRUCKPROVIDER' | translate}}</ion-option>
          <ion-option value="driver">{{'DRIVER' | translate}}</ion-option>
          <ion-option value="customer">{{'CUSTOMER' | translate}}</ion-option>
        </ion-select>
      </ion-item>

    </ion-list>
    <p *ngIf="registrationForm.controls.username.errors?.pattern" class="error">{{'USERNAMEINVALID' | translate}}</p>
    <p class="error">{{serverError}}</p>
    <div padding>
      <button block ion-button type="submit" [disabled]="!registrationForm.valid">Create</button>
    </div>
  </form>

</ion-content>