<ion-header>
  <ion-navbar>
      <ion-buttons start>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>
{{'DRIVERS' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content id="page1">
  <ion-list id="page-list1">
      <ion-item-group *ngFor="let group of userGroups;  let gindex = index" >
          <ion-item-divider color="light" text-capitalize>{{group.group}}</ion-item-divider> 
          <ion-item-sliding *ngFor="let customer of group.list; let iindex = index">       
          <ion-item color="none" id="page-list-item10">
            <ion-thumbnail item-left>
              <img src="assets/imgs/logo_transparent.jpg" />
            </ion-thumbnail>
            <h6>( <i>Ref id: {{ customer.userid }}</i> )</h6>
            <h2><b>
                {{customer.name}}
                </b>
            </h2>
            <h3>
              {{ customer.email }}
            </h3>
            <h3>
              {{ customer.nationalidfordriver }}
            </h3>
            <h3>
              {{ customer.licensefordriver }}
            </h3>
            <h2>
                {{ customer.phonenumber }}
              </h2>
              <h2>
                Owner: {{ customer.ownername }} (Ref: {{ customer.owneridfordriver }})
              </h2>
              <div class="hint_more_options">
                <ion-icon icon-start name="arrow-round-back">{{"SWIPELEFTTEXT" | translate}}</ion-icon>
              </div>
          </ion-item>
          <ion-item-options side="end">
              <button ion-button color="danger" (click)="deleteItem(customer, gindex, iindex)">
                <ion-icon name="delete"></ion-icon>
                {{"OPTIONDELETE"| translate}}
              </button>
              <button *ngIf="group.group != 'approved'" ion-button color="primary" (click)="approveItem(customer, gindex, iindex)">
                  <ion-icon name="approve"></ion-icon>
                  {{"OPTIONAPPROVE"| translate}}
              </button>
              <button *ngIf="group.group != 'blocked'" ion-button color="secondary" (click)="blockItem(customer, gindex, iindex)">
                    <ion-icon name="block"></ion-icon>
                    {{"OPTIONBLOCK" | translate}}
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-item-group>
  </ion-list>
</ion-content>
