<ion-header>
  <ion-navbar>
      <ion-buttons start>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title center>
      {{'TRUCKSLISTTITLE' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content id="page1">
  <ion-list id="page-list1">
    <ion-item-group *ngFor="let group of truckGroups;  let gindex = index" >
      <ion-item-divider color="light" text-capitalize>{{group.group}}</ion-item-divider> 
      <ion-item-sliding *ngFor="let truck of group.list; let iindex = index">       
      <ion-item color="none" id="page-list-item10">
        <ion-thumbnail item-left>
          <img src="assets/imgs/logo_transparent.jpg" />
          <!-- <div class="icon-truck" style="font-size: 3em; color: green;" src1="assets/imgs/logo_transparent.jpg"></div> -->
        </ion-thumbnail>
        <h2>
          {{truck.trucktype}}
        </h2>
        <h3>{{truck.capacity}}</h3>
        <p>{{truck.regno}}</p>
        <button class="status_trip" ion-button outline item-end>{{truck.status}}</button> 
        <div class="hint_more_options">
          <ion-icon icon-start name="arrow-round-back">Swipe left to see more options</ion-icon>
        </div>
      </ion-item>
      <ion-item-options side="end">
          <button ion-button color="danger" (click)="deleteItem(truck, gindex, iindex)">
            <ion-icon name="delete"></ion-icon>
            Delete
          </button>
          <button *ngIf="group.group != 'approved'" ion-button color="primary" (click)="approveItem(truck, gindex, iindex)">
              <ion-icon name="approve"></ion-icon>
              Approve
          </button>
          <button *ngIf="group.group != 'blocked'" ion-button color="secondary" (click)="blockItem(truck, gindex, iindex)">
                <ion-icon name="block"></ion-icon>
                Block
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
</ion-content>
