<ion-header>

    <ion-navbar>
        <ion-title>{{'ADDTRUCK' | translate }}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <ion-row>
        <ion-col align="center" style="max-width: 150px; margin: auto;">
            <img [src]="truckimage" class="avatar" />
            <button *ngIf="!isWeb" ion-button color="normal" (tap)="addImage()">
                Add Image
            </button>
            <div *ngIf="isWeb" class="fileUpload btn btn-primary">
                <span>Add Image</span>
                <input type="file" class="upload" (change)="fileUpload($event)" #fileInp/>
            </div>
            <!-- <input class="cordova-camera-select" type="file" name="files[]"> -->
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-item margin-top class="item-leave-height">
            <ion-label>{{'TRUCKTYPE' | translate}}</ion-label>
            <!-- <ion-input (ionFocus)="focusFunction()" placeholder="trucktype" name="trucktype" id="trucktype" type="text" [(ngModel)]="trucktype"></ion-input>                         -->
            <ion-select name="trucktypes" [(ngModel)]="truckid">
                <ion-option value="{{truck.trucktypeid}}" *ngFor="let truck of trucks">{{ truck.type }}</ion-option>
            </ion-select>
        </ion-item>
    </ion-row>

    <ion-row>
        <ion-item margin-top class="item-leave-height">
            <ion-label>{{'CAPACITY' | translate}}</ion-label>
            <ion-input (ionFocus)="focusFunction()" placeholder="capacity" name="capacity" id="capacity" type="text" [(ngModel)]="capacity"></ion-input>
        </ion-item>
    </ion-row>

    <ion-row>
        <ion-item margin-top class="item-leave-height">
            <ion-label>{{'REGNUM' | translate}}</ion-label>
            <ion-input (ionFocus)="focusFunction()" placeholder="regnum" name="regnum" id="regnum" type="text" [(ngModel)]="regnum"></ion-input>
        </ion-item>
    </ion-row>

    <ion-row>
        <ion-item margin-top class="item-leave-height">
            <ion-label>{{'MODELDATE' | translate}}</ion-label>
            <ion-datetime placeholder="model date" name="modeldate" id="modeldate" max="{{maxdate}}" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY"
                [(ngModel)]="modeldate"></ion-datetime>
        </ion-item>
    </ion-row>

    <ion-row>
        <ion-item margin-top class="item-leave-height">
            <ion-label>{{'COLOR' | translate}}</ion-label>
            <ion-input (ionFocus)="focusFunction()" placeholder="Color" name="color" id="color" type="text" [(ngModel)]="color"></ion-input>
        </ion-item>
    </ion-row>

    <ion-row padding-top>
        <ion-col text-center>
            <button (click)="addTruck()" ion-button medium>{{ 'ADDTRUCK' | translate }}</button>
        </ion-col>
    </ion-row>

</ion-content>