<ion-split-pane>
    <ion-menu side="start" [content]="content">
        <ion-header>
            <ion-toolbar>
                <ion-title>{{'ADMINTITLE' | translate}}</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
                <ion-card class="profile-card">
                        <ion-row float-right>
                                <button (click)="editClicked()" *ngIf="!isEdit" ion-button small icon-end>
                                    {{'PROFILEEDIT'|translate}}
                                </button>
                                <button (click)="saveClicked()" *ngIf="isEdit" ion-button small icon-end>
                                    {{'PROFILESAVE'|translate}}
                                </button>
                        </ion-row>
                        <ion-item>
                            <ion-row>
                                <img *ngIf="!isEdit" [src]="profileImgPath" class="custom-avatar"/>
                                <ion-col *ngIf="isEdit" align="center" style="max-width: 150px; margin: auto;">
                                    <img [src]="profileImage" class="avatar" />
                                    <button *ngIf="!isWeb" ion-button color="normal" (tap)="addImage()">
                                        {{'PROFILEADDIMAGE'|translate}}
                                    </button>
                                    <div *ngIf="isWeb" class="fileUpload btn btn-primary">
                                        <span>{{'PROFILEADDIMAGE'|translate}}</span>
                                        <input type="file" class="upload" (change)="fileUpload($event)" #fileInp/>
                                    </div>
                                </ion-col>
                            </ion-row>ß
                        </ion-item>
                        <ion-card-content *ngIf="!isEdit">
                            <h2>{{'PROFILENAME'|translate}}:
                                <b>{{user.name}}</b>
                            </h2>
                            <h2>{{'PROFILEID'|translate}}:
                                <i>{{user.userid}}</i>
                            </h2>
                            <h3>{{'PROFILEPHONENO'|translate}}:
                                <b>{{user.phonenumber}}</b>
                            </h3>
                            <h3>{{'PROFILEEMAIL'|translate}}:
                                <b>{{user.email}}</b>
                            </h3>
                        </ion-card-content>
                        <ion-card-content style="padding:0px;" *ngIf="isEdit">
                            <ion-row>
                                <ion-col col-5>
                                    <ion-item>
                                        <ion-label floating>Country Code</ion-label>
                                        <ion-input type="tel" value="+966" readonly> </ion-input>
                                    </ion-item>
                                </ion-col>
                                <ion-col col-7>
                                    <ion-item>
                                        <ion-label floating>{{'PHONENUMBER' | translate}}</ion-label>
                                        <ion-input (ionFocus)="focusFunction()" name="phonenumber" id="phonenumber" type="tel" [(ngModel)]="phonenumber"> </ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                        </ion-card-content>
                    </ion-card>
            <ion-list>
                <!-- <ion-item  class="item item-avatar">
                    <img src="//ionicframework.com/img/docs/spengler.jpg">
                    <h2>Pretty Hate Machine</h2>
                    <p>Nine Inch Nails</p>
                </ion-item > -->
                <ion-item detail-push [class.activeHighlight]="checkActivated(1)" (click)="go_to_TrucksListPage()" menuClose>
                    {{'TRUCKS' | translate}}
                </ion-item>
                <ion-item detail-push [class.activeHighlight]="checkActivated(2)" (click)="go_to_TruckOwnersListPage()" menuClose>
                    {{'TRUCKOWNERS' | translate}}
                </ion-item>
                <ion-item detail-push [class.activeHighlight]="checkActivated(3)" (click)="go_to_CustomersListPage()" menuClose>
                    {{'CUSTOMERS' | translate}}
                </ion-item>
                <ion-item detail-push [class.activeHighlight]="checkActivated(4)" (click)="go_to_TripsListPage()" menuClose>
                    {{'TRIPS' | translate}}
                </ion-item>
                <ion-item detail-push [class.activeHighlight]="checkActivated(5)" (click)="go_to_OfferslistPage()" menuClose>
                    {{'OFFERS' | translate}}
                </ion-item>
                <ion-item detail-push [class.activeHighlight]="checkActivated(6)" (click)="go_to_DriverslistPage()" menuClose>
                    {{'DRIVER' | translate}}
                </ion-item>
                <ion-item detail-push [class.activeHighlight]="checkActivated(7)" (click)="go_to_Cities()" menuClose>
                    {{'CITIES' | translate}}
                </ion-item>
                <ion-item detail-push [class.activeHighlight]="checkActivated(8)" (click)="go_to_TruckTypes()" menuClose>
                    {{'TRUCKTYPES' | translate}}
                </ion-item>
                <ion-item detail-push [class.activeHighlight]="checkActivated(9)" (click)="go_to_UpdateVAT()" menuClose>
                    Update VAT
                </ion-item>
                <ion-item detail-push [class.activeHighlight]="checkActivated(10)" (click)="go_to_CreateUser()" menuClose>
                        Create User
                    </ion-item>
                <ion-item detail-push [class.activeHighlight]="checkActivated(11)" (click)="logout_go_to_App()" menuClose>
                    {{'LOGOUT' | translate}}
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>

    <ion-nav [root]="rootPage" #content main swipeBackEnabled="false"></ion-nav>
</ion-split-pane>